{% extends "layout.twig" %}

{% block content %}
    <div class="w-3/4 py-16">
        <h1>Content</h1>
        <p>lorem sdf asdf                dfsf wef wef</p>
        <p>lorem sdf asdf                dfsf wef wef</p>
        <p>lorem sdf asdf                dfsf wef wef</p>
        <p>lorem sdf asdf                dfsf wef wef</p>
        <p>lorem sdf asdf                dfsf wef wef</p>
    </div>
{% endblock %}
